basic flow.json
[{"id":"e5cb800d.8dae1","type":"tab","label":"Basic Flow","disabled":false,"info":""},{"id":"1dd466f6.ca9f79","type":"ibmiot in","z":"e5cb800d.8dae1","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"a547824b3b3e","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT Sensor Data In","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"1","x":105,"y":285.33333110809326,"wires":[["578d5ccd.e98fa4"]]},{"id":"578d5ccd.e98fa4","type":"function","z":"e5cb800d.8dae1","name":"temp room","func":"// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : msg.payload.d.temp,\n        },\n    }\n  )\n};\nreturn msg;","outputs":1,"noerr":0,"x":331.1667175292969,"y":286.3333396911621,"wires":[["73122811.5ab878","d636ebe5.7ce3e8","bf000363.d9718"]]},{"id":"73122811.5ab878","type":"ibmiot out","z":"e5cb800d.8dae1","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"RoomThermo1","deviceType":"devicetype1","eventCommandType":"event","format":"json","data":"temp:10","qos":"","name":"Send temp sensor data to IBM IoT Platform","service":"registered","x":647.0000991821289,"y":285.3333396911621,"wires":[]},{"id":"d636ebe5.7ce3e8","type":"cloudant out","z":"e5cb800d.8dae1","name":"Cloudant","cloudant":"","database":"smarthousedb","service":"IoT Platform Starter NodeRED-cloudantNoSQLDB","payonly":false,"operation":"insert","x":535.1666793823242,"y":235.0000057220459,"wires":[]},{"id":"e0e9ccf8.79675","type":"comment","z":"e5cb800d.8dae1","name":"gets sensor data from simulator and send it to ibm iot platform, store it in Cloudant db and display it in the debug","info":"simulator : ibm.biz/iotsensor","x":385,"y":140.00000524520874,"wires":[]},{"id":"bf000363.d9718","type":"debug","z":"e5cb800d.8dae1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550.1666831970215,"y":347.6666774749756,"wires":[]}]
