smart house flows.json
[{"id":"b8b208d5.168b58","type":"tab","label":"Smart House Simulation","disabled":false,"info":""},{"id":"59448568.138fdc","type":"ibmiot in","z":"b8b208d5.168b58","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"a547824b3b3e","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT Sensor1 Data In","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"1","x":130,"y":113.00004386901855,"wires":[["c623fe4e.4f2e7","6deef224.1215ec"]]},{"id":"172754e7.4c435b","type":"ibmiot out","z":"b8b208d5.168b58","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"tempSensorRoom1","deviceType":"thermostate","eventCommandType":"event","format":"json","data":"temp:10","qos":"","name":"Room1 _ Send tem sensor data to IBM IoT Platform","service":"registered","x":740.0000972747803,"y":63.000043869018555,"wires":[]},{"id":"c623fe4e.4f2e7","type":"function","z":"b8b208d5.168b58","name":"temp room 1","func":"\nvar var1;\nvar airconditionnerstate;\n\nif(msg.payload.d.temp >= 40) var1 = \"notsafe\";\nif(msg.payload.d.temp < 40) var1 = \"safe\";\n\nif(msg.payload.d.temp >= 25) airconditionnerstate = \"on\";\nif(msg.payload.d.temp < 25) airconditionnerstate = \"off\";\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : msg.payload.d.temp,\n        },\n        b:{\n        \"safety\" : var1,\n        \"airconditionnerstate\" : airconditionnerstate,\n        }\n    }\n  )\n};\nreturn msg;","outputs":1,"noerr":0,"x":360.16671562194824,"y":71.00003433227539,"wires":[["172754e7.4c435b","356bc716.940e88"]]},{"id":"6deef224.1215ec","type":"function","z":"b8b208d5.168b58","name":"humidity room 1","func":"var watringpotsstate;\nif(msg.payload.d.humidity < 25) watringpotsstate = \"on\";\nif(msg.payload.d.humidity >= 25) watringpotsstate = \"off\";\n\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"humidity\" : msg.payload.d.humidity,\n        },\n        b:{\n        \"wateringpotsstate\" : watringpotsstate,\n        }\n        \n    }\n  )\n};\nreturn msg;","outputs":1,"noerr":0,"x":369.8334655761719,"y":158.6667137145996,"wires":[["e767adc5.5c9db","e369bb2b.c88308"]]},{"id":"29239dac.317022","type":"ibmiot out","z":"b8b208d5.168b58","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"humiditySensorRoom2","deviceType":"humidity","eventCommandType":"event","format":"json","data":"temp:10","qos":"","name":"Room2 _ Send humidity sensor data to IBM IoT Platform","service":"registered","x":762.0000991821289,"y":382.00001335144043,"wires":[]},{"id":"2ce63033.7abc7","type":"ibmiot out","z":"b8b208d5.168b58","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"tempSensorRoom2","deviceType":"thermostate","eventCommandType":"event","format":"json","data":"temp:10","qos":"","name":"Room2 _ Send temp sensor data to IBM IoT Platform","service":"registered","x":746.0001754760742,"y":263.00008964538574,"wires":[]},{"id":"e767adc5.5c9db","type":"ibmiot out","z":"b8b208d5.168b58","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"humiditySensorRoom1","deviceType":"humidity","eventCommandType":"event","format":"json","data":"temp:10","qos":"","name":"Room1 _ Send humidity sensor data to IBM IoT Platform","service":"registered","x":760.0001792907715,"y":161.0000343322754,"wires":[]},{"id":"e33fc915.343228","type":"function","z":"b8b208d5.168b58","name":"temp room 2","func":"var var1;\nvar airconditionnerstate;\n\nif(msg.payload.d.temp >= 40) var1 = \"notsafe\";\nif(msg.payload.d.temp < 40) var1 = \"safe\";\n\nif(msg.payload.d.temp >= 25) airconditionnerstate = \"on\";\nif(msg.payload.d.temp < 25) airconditionnerstate = \"off\";\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : msg.payload.d.temp,\n        },\n        b:{\n        \"safety\" : var1,\n        \"airconditionnerstate\" : airconditionnerstate,\n        }\n    }\n  )\n};\nreturn msg;","outputs":1,"noerr":0,"x":368.0000915527344,"y":227.00009155273438,"wires":[["2ce63033.7abc7","2a5ae8f0.16af78"]]},{"id":"2eae513a.79733e","type":"function","z":"b8b208d5.168b58","name":"humidity room 2","func":"var watringpotsstate;\nif(msg.payload.d.humidity < 25) watringpotsstate = \"on\";\nif(msg.payload.d.humidity >= 25) watringpotsstate = \"off\";\n\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"humidity\" : msg.payload.d.humidity,\n        },\n        b:{\n        \"wateringpotsstate\" : watringpotsstate,\n        }\n        \n    }\n  )\n};\nreturn msg;","outputs":1,"noerr":0,"x":383.0000915527344,"y":349.00000858306885,"wires":[["29239dac.317022","96f0add9.db4ab"]]},{"id":"2a5ae8f0.16af78","type":"cloudant out","z":"b8b208d5.168b58","name":"","cloudant":"","database":"smarthouse","service":"IoT Platform Starter NodeRED-cloudantNoSQLDB","payonly":false,"operation":"insert","x":619.1666793823242,"y":220.6666774749756,"wires":[]},{"id":"e369bb2b.c88308","type":"cloudant out","z":"b8b208d5.168b58","name":"","cloudant":"","database":"smarthouse","service":"IoT Platform Starter NodeRED-cloudantNoSQLDB","payonly":false,"operation":"insert","x":624.1666831970215,"y":125.66671371459961,"wires":[]},{"id":"356bc716.940e88","type":"cloudant out","z":"b8b208d5.168b58","name":"","cloudant":"","database":"smarthouse","service":"IoT Platform Starter NodeRED-cloudantNoSQLDB","payonly":false,"operation":"insert","x":623.1666831970215,"y":21.666698455810547,"wires":[]},{"id":"96f0add9.db4ab","type":"cloudant out","z":"b8b208d5.168b58","name":"","cloudant":"","database":"smarthouse","service":"IoT Platform Starter NodeRED-cloudantNoSQLDB","payonly":false,"operation":"insert","x":622.5001068115234,"y":327.66668128967285,"wires":[]},{"id":"3164aa38.def9f6","type":"ibmiot in","z":"b8b208d5.168b58","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"bd144aea6930","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT Sensor2 Data in","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":128.5,"y":274.6666965484619,"wires":[["e33fc915.343228","2eae513a.79733e"]]}]
